services:
  mongo:
    image: mongo
    restart: always
    volumes:
      - data:/data/db
    env_file:
    - ./backend/.env
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    volumes:
      - /app/node_modules
      - ./backend:/app
    depends_on:
      - mongo
    env_file:
      - ./backend/.env
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - /app/node_modules
      - ./frontend:/app
    ports:
      - "5000:5000"

volumes:
  data: